.App {
  margin: auto;
  width: 43rem;
  margin-top: 20vh;
  display: flex;
  justify-content: space-between;
}

.group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.token {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5vh;
}

.meta {
  color: white;
  display: block;
}

.container {
  margin: 1rem 0 1rem 30%;
}

.inputBox {
  margin: 0 1rem;
}

.detailView::-webkit-scrollbar {
  width: 10px;
}

.detailView::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.detailView::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.button {
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  padding: 0 22px;
  border-radius: 4px;
  background: #2b7649;
  margin: 0.2rem;
}

.button:hover {
  background: #7fa18d;
}
